<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>An iOS and Unity3D mobile app developer with skills and experience to create various mobile apps ranging from programs written in full iOS native codes to 3D gaming and augmented reality. I am also constantly striving to learn new technologies and trying to apply my knowledge to write highly maintainable and readable source codes.
<a href="#" target="_blank">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
</div><!--//summary-->
</section><!--//section-->
