<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p> Hi, I'm a software engineer who specializes in native iOS and Unity3D programming. I have the skills and experience to create various mobile apps ranging from programs written in full iOS native codes to 3D gaming and augmented reality. I am also constantly striving to learn new technologies and interested in applying my knowledge to write highly maintainable and readable source codes.
</div><!--//summary-->
</section><!--//section-->
