 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Ph.D candidate in Computer Science (Leave of Abscence)</h4>
    <h5 class="meta">Yonsei University Graduate School</h5>
    <div class="time">Mar.2010 - Feb.2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS in Computer Science</h4>
    <h5 class="meta">Yonsei University</h5>
    <div class="time">Mar.2005 - Feb.2010</div>
</div><!--//item-->
</div><!--//education-container-->
