<section class="section experiences-section">
<h2 class="section-title">Past Works</h2>
<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="company">AnibeaR</h3>
</div>
<ul>
<li class="description">SNS platform for sharing augmented reality videos</li>
<li class="description">Language: Swift, Objective-C, C#</li>
<li class="description">Local DBMS: SQLite</li>
<li class="description">VCS: Git</li>
<li class="description">3D graphics engine and AR SDK: Unity 3D, Vuforia SDK, Wikitude SDK</li>
</ul>
<p style="text-align: center;"><img src="https://github.com/myupage/myupage.github.io/blob/master/Captures/Home_short.gif" alt="anibear-home" width="376" height="668" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<!--//details--></div>
<!--//item-->
<div class="item">
<div class="meta">
<div class="upper-row">
<h3 class="job-title">&nbsp;</h3>
</div>
</div>
</div>
<div class="item"><!--//details--></div>
<!--//item--></section>
<!--//section-->
