<section class="section projects-section">
<h2 class="section-title">Projects</h2>
<div class="intro">
<p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
</div>

<div class="item"><span class="project-title"><a href="anibear.html">AnibeaR</a></span> - <span class="project-tagline">A social networking service for authoring, viewing and sharing augmented reality videos.</span></div>

<div class="item"><span class="project-title">ARZone </a></span> - <span class="project-tagline">B2B app for recording videos for Line store visitors and sending them to the visitors' email.</span></div>

<div class="item"><span class="project-title"><a href="#" target="_blank">Alice in Wonderland 3D</a></span> - <span class="project-tagline">An interactive storytelling book application based on the classic novel 'Alice in Wonderland'.</span></div>
</section>
